@import "generic/reset";

@import "settings";

@import "elements/info";
@import "elements/buttons";
@import "elements/header";
@import "elements/benefits";
@import "elements/contact";
@import "elements/form";
@import "elements/footer";
@import "elements/menu";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4em;
  width: 80vw;
  height: 80vh;
  background-color: white;
  z-index: 1;
  border-radius:50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  -webkit-box-shadow:0px 0px 42px 0px #393a3c ;
  -moz-box-shadow:0px 0px 42px 0px #393a3c ;
  box-shadow:0px 0px 42px 0px #393a3c ;
}
.hide {
  display: none;
}
.hide_sub {
  display: none;
}
.hide_goal {
  display: none;
}

.components {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;


}

